blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
feedparser==6.0.10
Flask==2.3.3
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
kafka-python-ng==2.2.3
MarkupSafe==3.0.3
requests==2.31.0
sgmllib3k==1.0.0
urllib3==2.6.3
Werkzeug==2.3.7
pyspark==3.5.0
delta-spark==3.1.0
